@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    background-color: #AAA28D;
    overflow-x: hidden;
}

.icon{
    min-width: 60px;
    height: 60px;
    display: block;
    position: relative;
    line-height: 60px;
    text-align: center;
}
img{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 30px;
    left: 30px;    
}

nav{
    position: fixed;
    width: 60px;
    top: 40px;
    height: 60px;
    transition: 0.5s;
    background-color: #0C1601;
    overflow: hidden;
    border-radius: 50%;
    z-index: 100000;
}

nav:hover{
    width: 300px;
    height: 100%;
    border-radius: 0;
}

nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li{
    position: relative;
    width: 100%;
    list-style: none;

}
nav ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    top: 60px;
}


header{
    background-color: #0C1601;
    color: #ffffff;
    position: absolute;
    width: 100vw;
    height: 100px;    
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 1000;
}

.caixa{
    position: absolute;
    width: 307px;
    height: 66px;
    left: 1px;    
    background: #111f00;   
}

.caixa:hover{
    background-color: #275001;
}

#historia:hover{
    color: #275001;
}

#dados:hover{
    color: #275001;
}

.saiba:hover{
    color:#e9e1bb;
    background-color: #274001;
}

#historia{
    position: absolute;
    width: 265px;
    height: 35px;
    left: 155px;
    top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: white;
}

#dados{
    position: absolute;
    width: 382px;
    height: 35px;
    left: 360px;
    top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: white;
}

.saiba{
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    z-index: 1000;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    background-color: #BFB47E;
    border-radius: 25px;
    border-width: 6px;
    height: 40px;
    width: 150px;
    top: 30px;
    right: 10px;
    padding: 5px;
    box-sizing: border-box;
}

#foto-pirituba{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 44px;
    z-index: -1000;
}

h1{
    font-family: 'Bebas Neue', cursive;
    z-index: 1000;
    top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    padding-top: 100px;
    text-align: center;
    letter-spacing: 0.10em;
    color: #ffffff;
}

#bairro{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    background-color: #142601;
    border-radius: 10px;
    border-width: 642px;
    width: 40%;
    margin: auto;
}

#titulo1{
    position: relative;
    z-index: 1;
    width: 265px;
    height: 35px;
    left: 550px;
    top: 350px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color:  #ffffff;
}

.linha{
    position: relative;
    z-index: 1;
    width: 100px;
    height: 0px;
    left: 638px;
    top: 350px;
    border: 1px solid #274001;
}

.foto2{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 98%;
    left: -1px;
    top: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.foto-left{
    width: 750px;
    height: 550px;
    box-sizing: border-box;
}

.caixa2{
    position: relative;
    z-index: -1;
    width: 621px;
    height: 539px;
    left: 745px;
    top: -150px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.origem{
    width: 550px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    padding: 25px;
}

#foto4{
    position: absolute;
    width: 470.14px;
    height: 242.31px;
    left: 135px;
    top: 1500px;
    z-index: 1;
}

#quadro4{
    position: absolute;
    width: 540px;
    height: 350px;
    left: 100px;
    top: 1600px;
    background: #17200D;
    box-shadow: 0px 4px 4px 0px;
}

#quadro4 p{
    position: relative;
    padding: 15px;
    width: 510px;
    height: 85px;
    left: 5px;
    top: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#foto5{
    position: absolute;
    width: 470px;
    height: 240px;
    left: 735px;
    top: 1500px;
    z-index: 1;
}

#quadro5{
    position: absolute;
    width: 540px;
    height: 350px;
    left: 700px;
    top: 1600px;
    background: #17200D;
    box-shadow: 0px 4px 4px 0px;
}

#quadro5 p{
    position: relative;
    padding: 15px;
    width: 510px;
    left: 5px;
    top: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#h1dois{
    position: absolute;
    left: 100px;
    height: 30px;
    top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #353C1A;
    z-index: 1;
}

#divbranca{
    position: absolute;
    width: 1440px;
    height: 800px; 
    top: 2000px;
    background: #FFFFFF;
}

#linha2{
    position: absolute;
    width: 400px;
    left: 100px;
    top: 90px;
    border: 1px solid #17200D;
}

#divbranca p{
    position: relative;
    padding: 5px;
    width: 550px;
    left: 100px;
    top: 200px;
    font-family: 'Raleway';
    font-style: normal; 
    font-weight: 500;
    font-size: 15px;    
    line-height: 29px;
}

.caixinha1{
    position: relative;
    width: 200px;
    height: 130px;
    left: 700px;
    top: 700px;    
    background: #353C1A;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 10px;
}

.caixinha2{
    position: relative;
    width: 200px;
    height: 130px;
    left: 910px;
    top: 570px;    
    background: #353C1A;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 10px;
}

.caixinha3{
    position: relative;
    width: 200px;
    height: 130px;
    left: 1120px;
    top: 440px;    
    background: #353C1A;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 10px;
}

.caixinha4{
    position: relative;
    width: 200px;
    height: 130px;
    left: 700px;
    top: 450px;    
    background: #353C1A;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 10px;
}

.caixinha5{
    position: relative;
    width: 200px;
    height: 130px;
    left: 910px;
    top: 320px;    
    background: #353C1A;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 10px;
}

.caixinha6{
    position: relative;
    width: 200px;
    height: 130px;
    left: 1120px;
    top: 190px;    
    background: #353C1A;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 10px;
}

.princ{ 
    position: absolute;
    left: 10px;
    top: 5px;
    font-family: 'Montserrat';  
    font-style: normal; 
    font-weight: 30px;
    font-size: 25px;    
    line-height: 30px;
    color: #ffffff;
    float: left;
    text-align: center;
}

.dado{
    position: absolute;
    width: 197px;
    height: 42px;   
    left: 5px; 
    top: 50px;  
    font-family: 'Montserrat';
    font-style: normal; 
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: #AAA28D;
}

.rodape{
    position: relative;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 500px;
}

.foo1{
    position: relative;
    width: 200px;
    height: 40px;
    left: 20px;
    top: 310px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}   

.foo2{
    position: relative;
    width: 400px;
    height: 150px;
    left: 20px;
    top: 260px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 150px;
    letter-spacing: 0.10em; 
    color: #FFFFFF;
}

.foo3{
    position: relative;     
    width: 850px;
    height: 50px;   
    left: 20px; 
    top: 220px;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.insta{
    position: relative;
    width: 50px;
    height: 50px;
    left: 1015px;
    top: 150px;
    border-radius: 10%;
}

.face{
    position: relative;
    width: 50px;
    height: 50px;
    left: 1015px;
    top: 150px;
    border-radius: 10%;
}

